<script type="text/javascript">
  window.restData = <%= @rests.to_json.html_safe %>
</script>

<div id=top-bar>
  <div id=top-bar-row>
    <div id="user-div">
      <span> <%= @user.first_name %> </span> |
      <span> <%= link_to "Logout", session_path, :action => 'destroy', :method => 'delete' %> </span>
    </div>
    <div id="headline">
      האוכל הגיע
    </div>

    <div id="company-logo">
      <img src="<%= ENV["COMPANY_LOGO"] %>"  />
    </div>
  </div>
</div>
<div id="tableContainer">
  <label for="filter"> סינון:</label> <input type="text" id="filter" />

  <div id="linksDiv">
    <% if @showing_all %>
    <a href="/">
      הצג משלוחים צפויים בלבד
    </a>
    <% else %>
    <i>
      מציג משלוחים צפויים
    </i>
    |
    <a href="/?all=1">
      הצג הכל
    </a>
    <% end %>
  </div>
  <div id="restsTable">
    <% @rests_raw.each do |rest| %>
    <div class="restRow" id="rest_<%=rest.id%>" onclick="confirmAnnounce(<%=rest.id%>)">
      <div class="restCheck">
        <img id = "status_img_<%=rest.id%>"
             <% if rest.is_recent %>
               src="check.png"
             <% else %>
               src="pending.gif"
             <% end  %>
             title="הוזמן לפני זמן קצר"/>
      </div>
      <div class="restName">
        <%=rest.hebrew_name%> </br>
      </div>
      <div class="restImg">
        <img src="<%=rest.logo%>" />
      </div>
    </div>
    <% end %>
  </div>
</div>
<div id="cache">
  <img src="loading.gif">
  <img src="check.png">
</div>
